*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Color Palette
    header: #ff6900
    header elements: #ffffff
    main background: #ffffff
    price tag: #ff000000
    sustainability tag: #008000
    card text: #000000
    footer background: #1a1a1a
    footer elements: #ffffff
*/