*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Color Palette
    header: #ff6900
    header elements: #ffffff
    main background: #ffffff
    price tag: #ff000000
    sustainability tag: #008000
    card text: #000000
    footer background: #1a1a1a
    footer elements: #ffffff
*/

/*REGOLE GENERALI*/
.container{
    max-width: 1380px;
    height: 100%;
    background-color: rgb(151, 151, 80);
    margin: 0 auto;

    position: relative;
}

/*HEADER*/
/*aggiungere ombra all'header*/

body > header {
    width: 100%;
    height: 70px;
}

header .container > *,
footer .container > * {
    position: absolute;
    width: 140px;
    height: 100%;
    top: 0;
}

body > header .container > *:first-child,
body > footer .container > *:first-child{
    left: 0;
}

body > header .container #logoContainer {
    left: 50%;
}

body > header .container >*:last-child,
body > footer .container >*:last-child {
    right: 0;
}

/*MAIN*/
body > main{
    width: 100%;

    margin-top: 50px;  /*da modificare*/
    padding: 3.5rem;
}

main .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 32.5%;
}

.card > *{
    width: 100%;
    background-color: rgb(171, 124, 171);
}

.card:nth-child(n+4){
    margin-top: 50px;  /*aggiunge margine superiore alle cards dalla 4 in poi*/
}

.card .cardImageContainer{
    height: 400px;
    margin-bottom: 5px;

    position: relative;
}

.card .heartContainer{
    position: absolute;
    right: 0;
    top: 10px;

    width: 30px;
    height: 30px;

    background-color: aquamarine;
}

.card .tagContainer{
    position: absolute;
    left: 0;
    bottom: 40px;

    height: 30px;

    background-color: aquamarine;
}

.card .tag{
    display: inline-block;
    height: 100%;
}

.redTag{
    background-color: orangered;
}

.greenTag{
    background-color: greenyellow;
}

/*FOOTER*/
body > footer{
    width: 100%;
    height: 100px; 
    margin-top: 20px;
    
    padding: 20px;
}

 footer ul li{
    display: inline-block;
}

/*DEBUG*/
.debug > *{
    background-color: red;
}

.debug > * > *{
    background-color: green;
}

.debug > * > * > *{
    background-color: blue;
}